<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQSXh2e9cJHrCcTl05APNXoJQLRYqA_CA</string>
	<key>GCM_SENDER_ID</key>
	<string>173867017246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mojacknongAndroid</string>
	<key>PROJECT_ID</key>
	<string>farmus-7193a</string>
	<key>STORAGE_BUCKET</key>
	<string>farmus-7193a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173867017246:ios:d025db6b3617e33d96ba0f</string>
</dict>
</plist>